@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.testi-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.testimonial {
    width: 25%;
    margin: 0px 15px 30px 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial img {
    height: 200px;
    object-fit: cover;
}

.quote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.value-rating {
    font-weight: bold;
    justify-content: end;
    display: flex;
}

.profile-testimonial {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-button {
    margin: 20px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: black;
}

.star {
    width: 20px;
    align-items: center;
}

.star-card {
    max-height: 5%;
}